@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300;500&family=Raleway:ital,wght@0,300;0,500;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montagu Slab', serif;
}

h1 {
  font-size:1.50rem;
  font-family: 'Montagu Slab';
  line-height: 1.2;
  font-weight: 500;
  color: darkgoldenrod;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0;
}

a:visited {
  color: olive;
}

a:active {
  color: #005858;
}

#map {
  position: absolute; top: 0; bottom: 0; width: 100%;
}

#map .mapboxgl-popup-content a {
  font-weight: 500;
  color: darkgoldenrod;
}

.mapboxgl-popup-content a:hover {
  color: darkcyan !important;
}

.maplibregl-popup {
  background-color: white;
  z-index: 10;
  border-radius: .3rem;
  box-shadow: 0 0 20px #222;
  padding: .5rem 0;
}

.maplibregl-popup-content {
  max-height: 77vh;
  overflow-y: auto;
  max-width: 	35vw;
  overflow-x: hidden;
  box-shadow: none !important;
  scrollbar-color: #776 white;
  padding: 0 .5rem;
}

.mapboxgl-popup-close-button {
  font-size: 2rem;
  font-family: 'Railway';
  font-weight: 500;
  border-radius: 0;
  border: none;
  padding: .2rem .45rem;
  background-color: rgba(256,256,256,.5) !important;
  position: fixed;
  margin: .5rem .5rem 0 0;
}

.mapboxgl-popup-close-button:hover {
  background-color: rgba(256,256,256,8) !important;
  box-shadow: 0 0 15px #ccc;
}

.mapboxgl-popup-tip {
  display: none;
}

@media screen and (orientation: portrait) and (max-width: 1199px) {
  .maplibregl-popup-content {
   max-width: 80vw;

  }
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
  .maplibregl-popup-content {
    max-width: 50vw;
  }
}
